{
    "token": "",
    "default_sound": "./ank.wav",
    "channels": [
        {
            "id": 577482669000000000123456
        },
        {
            "id": 104419000000000003728123456,
            "sound": "./shared/honk.wav"
        },
        {
            "id": 1370000000076019123456
        }
    ]
}